.header-title {
    line-height: 1;
    font-weight: 400;
}

.logo {
    width: 240px;
    display: inline-block;
    vertical-align: top;
}

.main-link {
    color: #3e86f9;
    text-decoration: none;
}