// @import "~ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-alpine.css";

// .ag-theme-alpine {
//     @include ag-theme-alpine((
//         // use theme parameters where possible
//         alpine-active-color: deeppink
//     ));

//     .ag-header {
//         // or write CSS selectors to make customisations beyond what the parameters support
//         font-style: italic;
//     }
// }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #525252;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'scss/libs/ag-grid';
